<div class="admin_wrapper">
  <div class="panel">
    <div class="panel_title_wrapper">
      <h2 class="panel_title">Меню</h2>
    </div>
    <div class="panel_items">
      <div class="panel_item"><%= link_to "Список тестов", test_sessions_path %> </div>
    </div>
  </div>
  <div class="widgets_wrapper">
    <div class="widgets_title_wrapper">
      <h2 class="widgets_title">Пока что здесь ничего</h2>
    </div>
  </div>
</div>