<% number_limitation = number.get_number_limitation %>

<div class="number_type step_variable" data-variable-id="<%= number.id %>" data-variable-name="<%= number.name %>">

  <h4>Имя переменной: <%= number_limitation[:name] %> (Число)</h4>

  <input class="number_cell input_cell" type="text" size="1">


</div>