<div>

  <%= link_to "Return to Test Sessions", test_sessions_path %> <br/>

  <%= @algorithm.description %>

  <div class="test_process_wrapper">

    <div class="test_body">

      <h2> Initial step: Algorithm's input data </h2>

      <%= render 'variables', :variables => @algorithm.get_initial_variables %>

    </div>

    <%= button_to 'First step', step_test_path, :data => {:step => current_step.nil? ? 0 : current_step.id, :algorithm => @algorithm.id}, :method => :post, remote: true %>

  </div>

</div>