<div class="steps_buttons">
  <% if current_step.nil? %>
      <%= button_to 'Первый шаг', step_test_path, :data => {:step =>  0, :algorithm => algorithm_id}, :method => :post, remote: true %>
  <% else %>
      <% if current_step.steps.count == 1 %> <!-- there is the only one next step -->
          <% next_step = current_step.steps.first %>
          <div class="step_button_wrapper">
            <%= button_to "Шаг  #{next_step.step_number}", step_test_path, :data => {:step => next_step.step_number, :algorithm => algorithm_id}, :method => :post, remote: true %>
          </div>
      <% else %> <!-- there are a lot of next steps -->
          <% current_step.steps.each do |x| %>
            <div class="step_button_wrapper">
              <%= button_to "Шаг  #{x.step_number}", step_test_path, :data => {:step => x.step_number, :algorithm => algorithm_id}, :method => :post, remote: true %>
            </div>
          <% end %>
      <% end %>
      <div class="step_button_wrapper">
        <%= button_to "Последний шаг", step_test_path, :data => {:step => -1, :algorithm => algorithm_id}, :method => :post, remote: true %>
      </div>
  <% end %>
  
</div>