<div class="student_wrapper">
	<div class="student_header">
		<input class="student_checkbox" type="checkbox" name="student" value="1" checked> <%= student.email %>
	</div>

	<div class="algorithm">
		<div class="algorithm_selection_block">
			<select name="algorithm" class="algorithm_select">
				<option value="" selected disabled hidden>Выберите алгоритм</option>
			</select>
		</div>
		<div class="algorithm_description_block">
			Бла бла бла бла
			Бла
		</div>
	</div>

	<div class="variables">
		Ехехехехе
	</div>
</div>