<p id="notice"><%= notice %></p>

<h1>Сеансы тестирования</h1>

<% if current_user.has_role(:PROFESSOR_ROLE) %>
    <%= render 'admin_index', :test_sessions => @test_sessions %>
<% elsif current_user.has_role(:STUDENT_ROLE) %>
    <%= render 'student_index', :test_sessions => @test_sessions %>
<% end %>