// Place all the styles related to the Algorithms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
    margin: 0;
    padding: 0;
}

body {

    font-family: "Arial", sans-serif;
    font-size: 14px;
    color: black;
}

.test-session-options {
    padding: 5px;
    float:left;
    width: 47%;
}

.algorithm-selection {
    padding: 5px;
    float:right;
    width: 47%;
}

.content-block {
	border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color:#e1f5fe;
    padding-top: 5px;   
    padding-left: 5px;
    min-height: 50px;
}

.notification {
	font-size: 24px;
}

.layout-positioner {
    margin: 0 auto;
    width: 70%;
}

.layout-positioner::after {
    display: table;
    content: "";
    clear: both;
}


.users-options {
    padding: 5px;
}

.discipline_wrapper {
	display: none;
}

.theme-wrapper {
	padding: 5px;
	background-color: #aebfbe;
	margin: 5px;
}

.theme-selector {
	padding: 5px;
}

.theme_algorithms_wrapper {
	padding: 5px;
	background-color: #ffffff;
	display: none;
}

.algorithm-selector {
	padding: 5px;
	border-bottom: 1px solid gray;
	
}

#discipline_notification_selected {
	display: none;
}

#group_notification_selected {
    display: none;
}

.student_wrapper {
	background-color: #aebfbe;
    margin-bottom: 10px;
}

.algorithm {
	margin: 0 auto;
    background-color: #ffffff;
}

.algorithm::after {
    display: table;
    content: "";
    clear: both;
}

.algorithm_selection_block {
	padding: 5px;
    float:left;
    width: 20%;
}

.algorithm_description_block {
	padding: 5px;
    float:right;
    width: 70%;
}

.variables {
	background-color: #ffffff;
    padding: 5px;
}





.variable {
    background-color: #dae2ef;
    display: inline-table;
    margin: 10px;
    padding: 5px;
}

.number_type {
    background-color: #dae2ef;
    display: inline-table;
    margin: 10px;
    padding: 5px;
}

.variable_description {
    display: inline-block;
}

.input_field {
    display: inline-block;
    margin-top: 10px;
}

.string_type {
    background-color: #dae2ef;
    display: inline-table;
    
    margin: 10px;
    padding: 5px;
}


.matrix_type {
    background-color: #dae2ef;
    display: inline-table;
    
    margin: 10px;
    padding: 5px;
}

.matrix_input_field {
    display: table;
    padding: 2px;
}

.matrix_row {
    display: table-row;
    padding: 2px;
}

.matrix_column {
    display: table-cell;
    padding: 2px;
}

.matrix_cell {
    width: 22px;
    height: 17px;
}

.vector_type {
    background-color: #dae2ef;
    display: inline-table;
    margin: 10px;
    padding: 5px;
}

.vector_input_field {

    padding: 2px;
}

.vector_column {
    display: inline-table;

}

.vector_cell {
    width: 22px;
    height: 17px;
}

.variable_field {
    
}

.error_cell {
    background-color: #D28787;
}

.control_buttons {
    background-color: #ffffff;
    display:none;
}