// Place all the styles related to the Test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.test_body {
  width: 100%;
  min-height: 200px;
  height: auto;

  padding: 10px 15px 10px 15px;

  background-color: #d9eafb;

  margin-bottom: 15px;
  margin-top: 15px;

  .empty_value {
    border-color: gray;
  }

  .incorrect_value {
    border-color: red;
  }

  .valid_value {
    border-color: blue;
  }

  .frozen_input {
    background-color: #c7c7c7;
  }


  .matrix_type {

    padding-bottom: 20px;

    .matrix_column {
      display: inline-block;
      padding: 4px 4px 0 0;

      .matrix_cell {
        width: 22px;
        height: 17px;
        box-shadow: 2px 2px 1px 0;
      }
    }

  }

  .vector_type {

    padding-bottom: 20px;

    .vector_column {
      display: inline-block;
      padding: 4px 4px 0 0;

      .vector_cell {
        width: 22px;
        height: 17px;
        box-shadow: 2px 2px 1px 0;
      }

    }
  }

  .cell_characteristics {
    margin: 0;
  }

}